@font-face {
  font-family: 'Elianto';
  src: url(./fonts/Elianto-Regular.otf);

}

@font-face {
  font-family: 'Russo';
  src: url(./fonts/Russo_One.ttf);
}

@font-face {
  font-family: 'DSEG14';
  src: url(./fonts/DSEG14Modern-Regular.woff2);
}

@font-face {
  font-family: 'JetBrains';
  src: url(./fonts/JetBrainsMono-Regular.woff2);
}

* {
  --bg-color-light: #FDFEFF;
  --bg-color-dark: #212632;
  margin: 0vw;
  padding: 0vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --switch-bg: linear-gradient(to bottom, #73bbff, #a2d1fd);
  --switch-dark-bg: linear-gradient(to top, #2b3347, #181d27);
  --border-gradient: linear-gradient(to bottom, #a2d1fd, #cde7ff);
  --border-dark-gradient: linear-gradient(to bottom, #000000, #6c7384);
  --switch-width: 70px;
  --switch-height: 30px;
  --switch-round: 20px;
  --switch-padding-x: 5px;
  --sunmoon-size: 22.5px;
  --transition: all 0.5s ease;
}

body{
  background-color: var(--bg-color-light);
}

body.dark {
  background-color: var(--bg-color-dark);
}

header {
  background-color: var(--bg-color-light);
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

body.dark header {
  background-color: var(--bg-color-dark);
}

header .logo {
  color: black;
  font-family: 'DSEG14';
  font-weight: 750;
  text-decoration: none;
  font-size: 1.7vw;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
}

body.dark header .logo {
  color: white;
}

header ul {
  font-family: 'DSEG14';
  display: flex;
  justify-content: right;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 0.3vw;

}

header ul li a {
  font-size: 1.11vw;
  text-decoration: none;
  padding: 0.3vw 0.8vw;
  color: black;
  border-radius: 1vw;
  transition: 0.4s;
}

body.dark header ul li a {
  color: white;
}

header ul li a:hover,
header ul li a.active {
  transition: 0.2s;
  letter-spacing: 0.2vw;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

body.dark header ul li a:hover,
body.dark header ul li a.active {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.container{
  color: black;
  padding-top: 1vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  /* text-align: center; */
  overflow: hidden;
  position: relative;
}


body.dark .container {
  color: white;
}

.container h1, .container img{
  z-index: 20;
}

.container img{
  filter: invert(1);
}
.container h1{
  font-family: 'Elianto';
  
}

.container video{
  position: absolute;
  width: auto;
  height: 100vh;
  z-index: 0;
  animation: invert 10s infinite;
}

.container p{
font-family: 'Russo', sans-serif;
z-index: 100;
text-align: center;
font-size: 25px;
margin-top: 10px;
}

footer {
  width: 100vw;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-family: 'JetBrains';
  color: black;
  padding: 0.5vw;
}

.social-icons {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  margin: 0 2px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.social-icons img {
  height: 25px;
}

.made-with-love {
  color: #000000;
  margin-top: 10px;
  text-align: center;
}

body.dark .made-with-love {
  color: white;
}


.js-tilt {
  transform-style: preserve-3d;
}

@media(max-width:550px) {
  .container img {
    transform: scale(0.6);
    margin-top: -10%;
  }

  .container h1 {
    font-size: 1.5rem;
    margin-top: -20%;
  }

}


@media (max-width:1000px) {
  header {
    padding: 1.3vw 2vw;
  }

  header .logo {
    top: 0.1vh;
    position: relative;
    padding: 0vh;
    font-size: 3.5vw;
  }

  header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }

  header ul.active {
    visibility: visible;
    opacity: 10;
  }

  header ul li a {
    display: inline-block;
    /* color: #ffffff; */
    color: black;
    font-weight: 400;
    margin-left: 0;
    text-decoration: none;
    font-size: 3vh;
    margin: 2vh 0;
  }

  body.dark header ul li a {
    color: white;
  }

  header ul li a:hover,
  header ul li a.active {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  body.dark header ul li a:hover,
  body.dark header ul li a.active {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .toggleMenu {
    /* color:rgb(0, 0, 0); */
    position: relative;
    width: 40px;
    height: 40px;
    background: url("https://img.icons8.com/ios-filled/50/000000/menu-squared-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    z-index: 2;
    cursor: pointer;
  }

  body.dark .toggleMenu {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("https://img.icons8.com/ios-filled/50/FFFFFF/menu-squared-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    z-index: 2;
    cursor: pointer;
  }

  .toggleMenu.active {
    background: url("https://img.icons8.com/ios-filled/50/000000/delete-sign--v1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
  }

  body.dark .toggleMenu.active {
    background: url("https://img.icons8.com/ios-filled/50/FFFFFF/delete-sign--v1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
  }
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: var(--switch-round);
  cursor: pointer;
  transition: var(--transition);
  background: var(--switch-bg);
}

.switch::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--switch-round);
  opacity: 0;
  background: var(--switch-dark-bg);
  transition: var(--transition);
}

body.dark .switch::before {
  opacity: 1;
}

.switch .border {
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  border-radius: var(--switch-round);
  background: var(--border-gradient);
  z-index: -1;
  transition: var(--transition);
}

.switch .border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--switch-round);
  background: var(--border-dark-gradient);
  opacity: 0;
  transition: var(--transition);
}

body.dark .switch .border::after {
  opacity: 1;
}

.switch input {
  display: none;
}

.sunmoon {
  position: absolute;
  width: var(--sunmoon-size);
  height: var(--sunmoon-size);
  border-radius: 50%;
  transition: var(--transition);
  left: var(--switch-padding-x);
  z-index: 1;
  background-color: #FFC187;
  box-shadow: 0px 0px 11.7px 0px #FFC187, 0px 0px 20px 0px #ffc18768, -2px -2px 5px 0px #ffab5c inset;
}

body.dark .sunmoon {
  left: calc(100% - var(--sunmoon-size) - var(--switch-padding-x));
  background-color: #dee5f3;
  box-shadow: 0px 0px 51.7px 0px #dee5f3;
}

.darkside {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #FFC187;
  transition: var(--transition);
}

body.dark .darkside {
  background-color: #565c6b;
}

.clouds {
  border-radius: var(--switch-round);
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: 60%;
  transition: var(--transition);
}

.cloud-1 {
  bottom: -55%;
  left: 0;
}

.cloud-2 {
  bottom: -45%;
  left: 25px;
}

.cloud-3 {
  bottom: -40%;
  right: 0px;
}

.cloud-4 {
  bottom: -16%;
  right: -25px;
}


body.dark .cloud-1 {
  bottom: -35%;
  left: -110px;
}

body.dark .cloud-2 {
  bottom: -15%;
  left: -110px;
  transition: all 0.7s ease;
}

body.dark .cloud-3 {
  bottom: -15%;
  right: -110px;
}

body.dark .cloud-4 {
  bottom: -5%;
  right: -110px;
  transition: all 0.7s ease;
}

.stars {
  position: absolute;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  transition: var(--transition);
}

body.dark .stars {
  top: 50%;
}